.idea
*.log

benchmarks/QF_*/

floatingpoint_test/
optimathsat/
X-OMT/

evaluation-sampling/configs/smtsampler-*/
evaluation-sampling/configs/qsampler-*/
evaluation-sampling/configs/xomt-hybrid-bitwuzla/
evaluation-sampling/configs/xomt-bs-bitwuzla/
evaluation-sampling/configs/xomt-opt-*/

evaluation-sampling/experiments/full-o300/
evaluation-sampling/experiments/full-oprogram/

evaluation-sampling/containers_del/
evaluation-sampling/simple_results_del/

evaluation-sampling/results-*/
evaluation-sampling/select_*
evaluation-sampling/images/

evaluation-sampling/plot_scatter-1.py
evaluation-sampling/plot_table-1.py
evaluation-sampling/table_a12-1.py

get_benchmark.py
get_float.py